<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8"> 
	<title> Meetme </title>
	<link href="assets/css/meetme.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/calstyle.css" rel="stylesheet" />
</head>

<body>




</div>

<div class="row">

	<div class="container center">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<ul class="navbar-nav">
						<li class="active"><a>Event Info</a></li>
						<li href="/scheduling" class="inactive"><a>Scheduling</a></li>
						<li href='/sendEvent' class="inactive"><a>Send Event</a></li>
					</ul>
					

					
				</div>

			</div>
		</div>

	</div>

</div>


<div class="slimspace">

</div>

<div class="fatwindow center">



	<div class="span12 center">

		<h1>Meetme!</h1>

		<div class="row">


			<div class="span5">



				<form class="form-horizontal" method='post' action="/event">
					<fieldset>

						<!-- Form Name -->
						<legend>Create Event</legend>

						<!-- Text input-->
						<div class="control-group">
							<label class="control-label" for="textinput">Event Name</label>
							<div class="controls">
								<input id="textinput" name="textinput" type="text" placeholder="Mike's Annual Christmas Party" class="input-large" required="">
							</div>
						</div>

						<!-- Textarea -->
						<div class="control-group">
							<label class="control-label" for="textarea">Event Description</label>
							<div class="controls">                     
								<textarea id="textarea" name="textarea">Bring me presents.</textarea>
							</div>
						</div>

						<!-- Select Basic -->
						<div class="control-group">
							<label class="control-label" for="selectbasic">Needs to happen within</label>
							<div class="controls">
								<select id="selectbasic" name="selectbasic" class="input-xlarge">
									<option>Next day</option>
									<option>Next 2 days</option>
									<option>Next 7 days</option>
									<option>Next 7 weekdays</option>
								</select>
							</div>
						</div>

						<!-- Text input-->
						<div class="control-group">
							<label class="control-label" for="textinput">Approximate duration (hrs)</label>
							<div class="controls">
								<input id="textinput" name="textinput" type="text" placeholder="2" class="input-xlarge">
							</div>
						</div>

						<!-- Added "Next" button, please edit as you see required. I think the current positioning isn't great -->
						<div class="control-group">
							<input type="submit" class="btn btn-success" value="Next">
							<!-- <button class="btn btn-success" formaction="/schedule" type="submit"> Next </button> -->
						</div>

					</fieldset>
				</form>

			</div>

			<div class="span2">

			</div>

			<div class="span5">




				<legend>Date range</legend>


				<div class="example1"></div>

				<script src="js/jquery-1.9.1.js"></script>

				<script src="js/jquery.supercal.js"></script>

				<script>
				$('.example1').supercal({
					transition: 'carousel-vertical'
				});
				</script>
				<!-- Button -->
				<div class="control-group">
					<div class="controls" align="right">
						<a href="schedule.php" id="singlebutton" name="singlebutton" class="btn btn-primary">Continue</a>
					</div>
				</div>



			</div>


		</div>




	</div>

</div>



<!-- JavaScript Includes -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="assets/js/script.js"></script>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
</body>

</html>

