<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8"> 
	<title> Meetme </title>
	<link href="assets/css/meetme.css" rel="stylesheet" type="text/css" />
	
</head>

<body>




</div>

<div class="row">

</div>

<div class="slimspace">

</div>

<div class="slimwindow center">

	

	<div class="span4 center">

		<h1>Meetme!</h1>
		
		<p>Scheduling Made Easy.</p>
		
		<a href="/event" class="btn btn-lg btn-primary btn-block">Login using Gmail</a>
	</div>
	
</div>


</div>



</div>

<!-- JavaScript Includes -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="assets/js/script.js"></script>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
</body>

</html>

