<html><!-- views/index.ejs -->
<!DOCTYPE html>

<html>
	<head> Test file </head>

	<body>
		<form action="/auth/google">
			<input type="submit" value="Connect with Google"/>
		</form>
	

	</body>
</html>