<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8"> 
  <title> Meetme </title>
  <link href="/views/assets/css/meetme.css" rel="stylesheet" type="text/css" />
  <link href="/views/assets/css/calstyle.css" rel="stylesheet" />
</head>

<body>




</div>

<div class="row">

  <div class="container center">

	<div class="navbar">
	  <div class="navbar-inner">
		<div class="container">
		  <ul class="navbar-nav">
			<li class="inactive"><a>Event Info</a></li>
			<li class="inactive"><a>Scheduling</a></li>
			<li class="active"><a>Send Event</a></li>
		  </ul>
		  

		  
		</div>

	  </div>
	</div>

  </div>

</div>


<div class="slimspace">

</div>

<div class="fatwindow center">



  <div class="span12 center">

	<h1>Meetme!</h1>

	<div class="row">


	  <div class="span12">



		<form class="form-horizontal">
		  <fieldset>

			<!-- Form Name -->
			<legend>Invite others</legend>


			<!-- Textarea -->
			<div class="control-group">
			  <label class="control-label" for="textarea">Attendees</label>
			  <div class="controls">                     
				<textarea id="textarea" name="textarea">Seperate emails with a space.</textarea>
			  </div>
			</div>

			<!-- Multiple Checkboxes -->
			<div class="control-group">
			  <label class="control-label" for="checkboxes">Privacy</label>
			  <div class="controls">
				<label class="checkbox" for="checkboxes-0">
				  <input type="checkbox" name="checkboxes" id="checkboxes-0" value="Allow other users to see submissions">
				  Allow other users to see submissions
				</label>
				<label class="checkbox" for="checkboxes-1">
				  <input type="checkbox" name="checkboxes" id="checkboxes-1" value="Send email notification on every new submission">
				  Send email notification on every new submission
				</label>
			  </div>
			</div>


		  </fieldset>
		</form>

		<div class="control-group">
		  <div class="controls" align="right">
		   <a href="schedule.php" id="singlebutton" name="singlebutton" class="btn .btn-previous">Previous</a>
		   <a href="#" id="singlebutton" name="singlebutton" class="btn btn-primary">Send</a>
		 </div>
	   </div>

	 </div>


   </div>




 </div>

</div>


<!-- JavaScript Includes -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/views/assets/js/script.js"></script>
<!-- <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script> -->
<script src="/views/assets/js/bootstrap.js"></script>
</body>

</html>

